{% extends "!layout.html" %}

{% block extrahead %}
  

<meta name="description" content="To use WhatsApp Web, open a browser on your computer and go to web.whatsapp.com. Then, scan the QR code using the WhatsApp app on your phone to sync and start messaging." />
<meta name="keywords" content="WhatsApp Web, web.whatsapp.com, WhatsApp web inloggen, WhatsApp web log in, WhatsApp web login online, log in my WhatsApp web, WhatsApp web app, WhatsApp web download for pc, WhatsApp web application, WhatsApp web download windows 10" />
<meta name="robots" content="index, follow" />
<title>WhatsApp Web - Complete Guide to Use WhatsApp in Your Web Browser</title>
    {{ super() }}
{% endblock %}
